header {
    background-color: #0D1F22;
    color: aliceblue;
}

.info {
    background-color: #6F732F;
    color: aliceblue;
}

h3 {
    background-color: #264027;
    color: aliceblue;
}

@keyframes test {
    
}