header {
    background-color: #0D1F22;
    color: aliceblue;
}

.info {
    background-color: #6F732F;
    color: aliceblue;
}

h3 {
    background-color: #264027;
    color: aliceblue;
}

h2, h3 {
    padding: 0;
    border: 0;
    margin: 2.5% auto 2.5% auto;
}

@keyframes test {
    0% {border-color: #1A281F;}
    12.5% {border-color: #635255;}
    25% {border-color: #CE7B91;}
    37.5% {border-color: #C0E8F9;}
    50% {border-color: #B8D3D1;}
    62.5% {border-color: #C0E8F9;}
    75% {border-color: #CE7B91;}
    87.5% {border-color: #635255;}
    100% {border-color: #1A281F;}
}

img {
    border-style: solid;
    border-width: 6px;
    border-color: #1A281F;
    animation-name: test;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    display: block;
    margin: 0 auto 0 auto;
    /* padding: 0; */
    /* width: 50%; */
}

.img-info {
    display: block;
    text-align: center;
    outline: none;
    border: 0;
    padding: 0;
    width: 75%;    
}

main div {
    position: relative;
    background-color: rgba(77, 189, 122, 0.872);
    border: 5px;
    border-style: solid;
    border-color: #4d5251;
    outline: 6px solid #0D1F22;
    margin: 0 auto 0 auto;
    width: 50%;
}

.container {
    margin: 0 auto;
    height: 300px;
    width: 100%;
    border: 1px #000 solid;
    position: relative;
}

.box-bounds {
    padding: 10px;
    position: absolute;
}

