header {
    background-color: #0D1F22;
    color: aliceblue;
}

.info {
    background-color: #6F732F;
    color: aliceblue;
}

h3 {
    background-color: #264027;
    color: aliceblue;
}

@keyframes test {
    0% {border-color: #1A281F;}
    12.5% {border-color: #635255;}
    25% {border-color: #CE7B91;}
    37.5% {border-color: #C0E8F9;}
    50% {border-color: #B8D3D1;}
    62.5% {border-color: #C0E8F9;}
    75% {border-color: #CE7B91;}
    87.5% {border-color: #635255;}
    100% {border-color: #1A281F;}
}

img {
    border-style: solid;
    border-width: 4px;
    border-color: #1A281F;
    animation-name: test;
    animation-duration: 10s;
}